* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*color variables */
:root {
  --primary-color: #fd6e0a;
  --seconder-color: #fff4ec;
  --primary-text: #181818;
  --secondary-text: #757575;
  --importent-text: #ffffff;
}
/*styling logo*/
.logo {
  color: var(--primary-text);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
.logo-r {
  color: var(--primary-color);
}

/*styling nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 230px 0 230px;
  padding: 50px 0 0 0;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-text);
}
.header {
  background-color: var(--seconder-color);
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 580px;
}
.developer {
  color: rgba(24, 24, 24, 0.15);
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 30px;
  transform: translate(-35%, 230%) rotate(-90deg);
  position: absolute;
}

.banner-content {
  padding: 0 0 20px 80px;
  max-width: 585px;
}
.greeting {
  color: var(--secondary-text);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
}
.title {
  color: var(--primary-text);
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
}
.banner-content > p {
  color: var(--secondary-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  color: var(--importent-text);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
/*main section*/
main{
    background: #fffcfa;
}
.container{
    max-width: 1140px;
    margin: 150px auto;
}
.about-me{
    text-align: center;
    padding: 100px;
    background-color: var(--seconder-color);
    border-radius: 10px;
}
.about-me > h3{
     font-size: 35px;
     margin-bottom: 20px;
}
.about-me >p{
    color: var(--secondary-text);
    line-height: normal;
    padding: 20px;
}
.about-me .about-info{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.about-me .about-info p{
    font-size: 20px;
    color: var(--secondary-text);
}
.about-me .about-info h5{
    font-size: 20px;
    color: var(--primary-text);
}
.what-i-do{
    margin:auto;
    text-align: center;
    margin-top: 50px;
    padding: 50px 100px;
}
.what-i-do h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.what-i-do p{
    color: var(--secondary-text);
}
.skills{
    display: flex;
}
.skills .skill-content{
    background-color: var(--importent-text);
    color: var(--secondary-text);
    padding: 40px;
    margin: 0 20px;
    border-radius: 5;
}
.skill-content img,h4{
    margin-bottom: 10px;
    color: var(--primary-text);
}